<div class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
				 <h4 class="modal-title">Kunde anlegen</h4>
			</div>
			<form ng-submit='customers.updateCustomer(ks, ks.id)' class="form-horizontal"  name="form">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-sm-24">
						<div class="form-group">
							<label for="kdnr" class="col-sm-4 control-label">KDNR/ZL</label>
							<div class="col-sm-9">
								<input type="text" name="kdnr" id="kdnr" class="form-control input-sm" ng-model="ks.kdnr" />
							</div>
							<div class="col-sm-9">
								<input type="text" name="zl" id="zl" class="form-control input-sm" ng-model="ks.zl" />
							</div>
						</div>
						<div class="form-group">
							<label for="bemerkung" class="col-sm-4 control-label">Bemerkung</label>
							<div class="col-sm-18">
								<input type="text" name="bemerkung" id="bemerkung" class="form-control input-sm" ng-model="ks.bemerkung" />
							</div>
						</div>
						<div class="form-group">
							<label for="vorname" class="col-sm-4 control-label"><strong>vorname*</strong></label>
							<div class="col-sm-18">
								<input type="text" name="vorname" id="vorname" class="form-control input-sm" ng-model="ks.vorname" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-4 control-label"><strong>Name*</strong></label>
							<div class="col-sm-18">
								<input type="text" name="name" id="name" class="form-control input-sm" ng-model="ks.name" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="voname" class="col-sm-4 control-label"><strong>Anrede*</strong>/Title</label>
							<div class="col-sm-9">
								<select ng-model="ks.anrede" name="anrede" id="anrede" class="form-control" ng-options="option.name for option in selects.salutationId track by option.id">
								</select>
							</div>
							<div class="col-sm-9">
								<select ng-model="ks.title" name="title" id="title" class="form-control" ng-options="option.name for option in selects.titleId track by option.id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="DateOfBirth" class="col-sm-4 control-label"><strong>Gebursdatum*</strong></label>
							<div class="col-sm-14">
								<input ui-date="dateOptions" name="DateOfBirth" ng-model="ks.dateofbirth" ui-date-format="yy-mm-dd" ng-required="true">
							</div>
						</div>
						<div class="form-group">
							<label for="strase" class="col-sm-4 control-label"><strong>Strase*/HNr*</strong></label>
							<div class="col-sm-10">
								<input type="text" name="strase" id="strase" class="form-control input-sm" ng-model="ks.strase" required/>
							</div>
							<div class="col-sm-8">
								<input type="text" name="hnr" id="hnr" class="form-control input-sm" ng-model="ks.hnr" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="ZS" class="col-sm-4 control-label">HNE-ZS</label>
							<div class="col-sm-18">
								<input type="text" name="ZS" id="ZS" class="form-control input-sm" ng-model="ks.ZS"/>
							</div>
						</div>
						<div class="form-group">
							<label for="land" class="col-sm-4 control-label"><strong>Land*</strong></label>
							<div class="col-sm-18">
								<select ng-model="ks.land" name="land" id="land" class="form-control" ng-options="option.name for option in selects.countries track by option.id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="plz" class="col-sm-4 control-label"><strong>PLZ*/Ort*</strong></label>
							<div class="col-sm-9">
								<input type="text" name="plz" id="plz" class="form-control input-sm" ng-model="ks.plz" required/>
							</div>
							<div class="col-sm-9">
								<input type="text" name="ort" id="ort" class="form-control input-sm" ng-model="ks.ort" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="namenzusatz" class="col-sm-4 control-label">Namenzusatz</label>
							<div class="col-sm-18">
								<input type="text" name="namenzusatz" id="namenzusatz" class="form-control input-sm" ng-model="ks.namenzusatz" />
							</div>
						</div>
						<div class="form-group">
							<label for="firmenzusatz" class="col-sm-4 control-label">Firmenzusatz</label>
							<div class="col-sm-18">
								<input type="text" name="firmenzusatz" id="firmenzusatz" class="form-control input-sm" ng-model="ks.firmenzusatz" />
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-sm-24">
						<div class="form-group">
							<label for="telefonprv" class="col-sm-4 control-label">Telefon (priv)</label>
							<div class="col-sm-2">
								<input type="checkbox"  name="telefonprv" id="telefonprv" ng-model="ks.telefonprvCheckbox"/>
							</div>
							<div class="col-sm-8">
								<input type="text" name="telefonprvAreaCode" id="telefonprvAreaCode" class="form-control input-sm" ng-model="ks.telefonprvAreaCode" />
							</div>
							<div class="col-sm-8">
								<input type="text" name="telefonprv" id="telefonprv" class="form-control input-sm" ng-model="ks.telefonprv"/>
							</div>
						</div>
						<div class="form-group">
							<label for="telefonmobilAreaCode" class="col-sm-4 control-label">Telefon (mobil)</label>
							<div class="col-sm-9">
								<input type="text" name="telefonmobilAreaCode" id="telefonmobilAreaCode" class="form-control input-sm"  ng-model="ks.telefonmobilAreaCode"/>
							</div>
							<div class="col-sm-9">
								<input type="text" name="telefonmobil" id="telefonmobil" class="form-control input-sm" ng-model="ks.telefonmobil"/>
							</div>
						</div>
						<div class="form-group">
							<label for="telefondienstAreaCode" class="col-sm-4 control-label">Telefon (dienst.)</label>
							<div class="col-sm-9">
								<input type="text" name="telefondienstAreaCode" id="telefondienstAreaCode" class="form-control input-sm"  ng-model="ks.telefondienstAreaCode"/>
							</div>
							<div class="col-sm-9">
								<input type="text" name="telefon" id="telefon" class="form-control input-sm" ng-model="ks.telefondienst"/>
							</div>
						</div>
						<div class="form-group">
							<label for="faxAreaCode" class="col-sm-4 control-label">Fax</label>
							<div class="col-sm-6">
								<input type="text" name="faxAreaCode" id="faxAreaCode" class="form-control input-sm" ng-model="ks.faxAreaCode"/>
							</div>
							<div class="col-sm-12">
								<input type="text" name="fax" id="fax" class="form-control input-sm" ng-model="ks.fax"/>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-4 control-label">E-Mail-Adresse</label>
							<div class="col-sm-2">
								<input type="checkbox" name="emailCheckbox" id="emailCheckbox" ng-model="ks.emailCheckbox"/>
							</div>
							<div class="col-sm-16">
								<input type="email" name="email" id="email" class="form-control input-sm" ng-model="ks.email"/>
							</div>
						</div>
						<div class="form-group">
							<label for="werbung" class="col-sm-4 control-label">Werbung erlaubt</label>
							<div class="col-sm-18">
								<select ng-model="ks.werbung" name="werbung" id="werbung" class="form-control" ng-options="option.name for option in selects.sendPromotesFlg track by option.id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="bevorzugle" class="col-sm-4 control-label">Bevorzugle Zahlart</label>
							<div class="col-sm-18">
								<select ng-model="ks.bevorzugle" name="bevorzugle" id="bevorzugle" class="form-control" ng-options="option.name for option in selects.paymentId track by option.id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="telefonkontzkt" class="col-sm-4 control-label">Telefonkontzkt</label>
							<div class="col-sm-18">
								<select ng-model="ks.telefonkontakt" name="telefonkontakt" id="telefonkontakt" class="form-control" ng-options="option.name for option in selects.phoneContactId track by option.id">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" ng-click="close(false)" data-dismiss="modal">Abbrechen</button>
				<button type="submit" class="btn btn-primary pull-right">Sichern</button>
			</div>
			</form>
		</div>
	</div>
</div>